*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    background-color: burlywood;
    display: flex;
    position: relative;
}
.wrapper #main-div{
    width: calc(100% - 260px);
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    left: 260px;
    /* background-color: aqua; */
}
.wrapper #main-div #header{
    width: 100%;
    height: 60px;
    background: #1B2A47;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    /* transition: all 0.5s ease; */
}
.wrapper #main-div #header #main-title #toggle-div{
    display: inline-block;
    height: 100%;
    padding: 20px;
}
.wrapper #main-div #header #main-title #toggle-div i{
    font-size: 25px;
    cursor: pointer;
    color: #fff;
}
.wrapper #main-div #header #main-title .title{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
.wrapper #main-div #header #social-links{
    
}
.wrapper #main-div #header #social-links ul {
    display: flex;   
}
.wrapper #main-div #header #social-links ul li{}
.wrapper #main-div #header #social-links ul li a{
    display: block;
    padding-inline: 13px;
}
.wrapper #main-div #header #social-links ul li a:hover{
    color: none;
}
.wrapper #main-div #header #social-links ul li a i{
    color: #7B7B7B;
    font-size: 17px;
}
















.wrapper #main-div #main-content{
    width: 100%;
    background-color: #152036;
    /* background-color: #92a6e2; */
    min-height: calc(100vh - 60px);
    position: relative;
    padding: 10px;
}

.wrapper #sidebar{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    background: #1B2A47;
    transition: all 0.3s ease;
    position: fixed;
}
.wrapper #sidebar #img-div{
    width: 100%;
    padding-block: 20px;
}
.wrapper #sidebar #img-div img{
    width: 150px;
    display: block;
    margin-inline: auto;
}
.wrapper #sidebar #img-div h4{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.wrapper #sidebar #sidebar-menu ul li{
    position: relative;
    margin-bottom: 1px;
}
.wrapper #sidebar #sidebar-menu ul li a{
    display: block;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    /* border: 1px solid red; */
}
.wrapper #sidebar #sidebar-menu ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    /* display: none; */
}
.wrapper #sidebar #sidebar-menu ul li a .icon{
    font-size: 20px;
    padding-inline: 10px;
}
.wrapper #sidebar #sidebar-menu ul li a .title{
    letter-spacing: 1px;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper.collapse-sidebar{
    width: 100%;
}
.wrapper.collapse-sidebar #sidebar{
    margin-left: -260px;
}
.wrapper.collapse-sidebar #main-div{
    width: 100%;
    position: relative;
    top: 0;
    margin-left: -260px;
    transition: all 0.3s ease;
}
/* .wrapper.collapse-sidebar #main-div #main-content{
    width: 100%;
}*/
/* .wrapper.collapse-sidebar #main-div #header{
    width: 100%;
} */
/* ================ */
/* main contetnt | Cards */
/* ================ */
#main-content #card-div-1{
    /* border-radius: 20px; */
}
#main-content #card-div-1 .card{
    width: calc(100% / 4);
    height: max-content;
    background-color: #1B2A47;
    margin: 5px;    
    border-radius: 0px;
}
#main-content #card-div-1 .card .card-body{
    width: 100%;
    height: 100%;
    padding-block: 30px;
}
#main-content #card-div-1 .card .card-body .card-title,
#main-content #card-div-1 .card .card-body .card-text{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
#main-content #card-div-1 .card .card-body .card-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main-content #card-div-1 .card .card-body .range-outer{
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background-color: #fff;
    margin-top: 10px;
}
#main-content #card-div-1 .card .card-body .range-outer .range-inner{
    width: 60%;
    height: 100%;
    background-color: #24CAA1;
}
#main-content #card-div-2{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    /* background: #1B2A47; */
}
#main-content #card-div-2 .big-card{
    width: calc(100% - 25%);
    /* height: 100%; */
    margin-inline: 5px;
}
#main-content #card-div-2 .big-card .card{
    width: 100%;
    height: 100%;
    background-color: #1B2A47;
    /* margin-left: 10px; */
    border-radius: 5px;
    color: #fff;
}
#main-content #card-div-2 .column-cards{
    width: calc(100% - 75%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#main-content #card-div-2 .column-cards .card{
    width: 100%;
    height: max-content;
    background-color: #1B2A47;
    margin-right: 5px;
    /* border-radius: 0px; */
    border-radius: 5px;
}
#main-content #card-div-2 .column-cards .card .card-body{
    width: 100%;
    height: 100%;
    padding-block: 30px;
}
#main-content #card-div-2 .column-cards .card .card-body .card-title,
#main-content #card-div-2 .column-cards .card .card-body .card-text{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
#main-content #card-div-2 .column-cards .card .card-body .card-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#main-content #card-div-2 .column-cards .card .card-body .range-outer{
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background-color: #fff;
    margin-top: 10px;
}
#main-content #card-div-2 .column-cards .card .card-body .range-outer .range-inner{
    width: 60%;
    height: 100%;
    background-color: #24CAA1;
}